inst/extdata/xsd/CDS-XML_Standard_Data_Elements-V6-3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" targetNamespace="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6-3-1">
	<xs:simpleType name="AlphaNumeric_Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Date_Type">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1900-01-01"/>
			<xs:maxInclusive value="2999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOfBirth_Type">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1880-01-01"/>
			<xs:maxInclusive value="2999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time_Type">
		<xs:restriction base="xs:time">
			<xs:pattern value="([0-9]|[0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Integer_Type">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger_Type">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="Number9NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number9Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number999NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number999Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number9999NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number9999Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99999NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99999Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number999p999_Type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="3"/>
			<xs:pattern value="\d{3}\.\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ICD_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="4"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsultantCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GMP_Code_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OPCS_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PCT_Code_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonName_StructuredWord_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonName_UnstructuredText_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PracticeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="6"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferrerCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferringOrganisationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StructuredAddress_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnstructuredAddress_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="175"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPFreeText_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPIdentityNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPPartyIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPSequenceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-Finished_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-UnFinished_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-EAL-EDP-100-110_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="110"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-EAL-EOP-040-050_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="050"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitFunction_Adult_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitFunction_Neonatal_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitFunction_Paediatric_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="92"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCode_Withheld_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCode_Verified_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCode_Unverified_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivityDate_CriticalCare_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeCategoryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeCategoryCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AdministrativeCategoryCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AdmissionMethodCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="2C"/>
			<xs:enumeration value="2D"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="83"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdmissionOfferOutcomeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdvancedCardiovascularSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdvancedRespiratorySupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgeAtCDSActivityDate_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgeAtCensus_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AgeOnAdmission_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedAgeGroup_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnaestheticGivenDuringLabourOrDeliveryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnaestheticGivenPostLabourOrDeliveryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppointmentDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ArrivalDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AttendanceIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttendedOrDidNotAttendCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BasicCardiovascularSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BasicRespiratorySupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BirthOrder_Type">
		<xs:restriction base="ns:Number9Positive_Type"/>
	</xs:simpleType>
	<xs:simpleType name="BirthWeight_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarerSupportIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSActivityDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSApplicableDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSApplicableTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSBulkReplacementGroupCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="010"/>
			<xs:enumeration value="020"/>
			<xs:enumeration value="030"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="060"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSExtractDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSExtractTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeApplicationReference_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeControlCount_Type">
		<xs:restriction base="ns:PositiveInteger_Type">
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeControlReference_Type">
		<xs:restriction base="ns:PositiveInteger_Type">
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeDateOfPreparation_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeReceiverIdentity_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeSenderIdentity_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeTestIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeTimeOfPreparation_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageRecordIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageReferenceNumber_Type">
		<xs:restriction base="ns:PositiveInteger_Type">
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="6"/>
			<xs:enumeration value="NHSCDS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageVersionNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="8"/>
			<xs:enumeration value="CDS063"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSOrganisationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSPrimeRecipientCode_Type">
		<xs:restriction base="ns:CDSOrganisationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSCopyRecipientCode_Type">
		<xs:restriction base="ns:CDSOrganisationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSSenderCode_Type">
		<xs:restriction base="ns:CDSPrimeRecipientCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSProtocolIdentifierCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="020"/>
			<xs:enumeration value="010"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSReportPeriodEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSReportPeriodStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSTypeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="020"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
			<xs:enumeration value="150"/>
			<xs:enumeration value="160"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSUniqueIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSUpdateType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommissionerReferenceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommissioningSerialNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountOfDaysSuspended_Type">
		<xs:restriction base="ns:Number9999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareActivityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareAdmissionSource_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareAdmissionType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeDestination_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeLocation_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeReadyDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeReadyTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeStatus_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLevel2Days_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLevel3Days_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLocalIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareSourceLocation_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareStartTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitBedConfiguration_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateDetentionCommenced_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DecidedToAdmitDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryMethodCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPlaceChangeReasonCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPlaceTypeCode_Actual_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPlaceTypeCode_Intended_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DermatologicalSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DetainedAndOrLongTermPsychiatricCensusDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DiagnosisSchemeInUse_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargeDate_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DischargeDestinationCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="84"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="88"/>
			<xs:enumeration value="89"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargeMethodCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargeReadyDate_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DurationOfCareToPsychiatricCensusDate_Type">
		<xs:restriction base="ns:Number99999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DurationOfDetention_Type">
		<xs:restriction base="ns:Number99999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DurationOfElectiveWait_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarliestReasonableOfferDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListEntryNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListRemovalDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListRemovalReasonCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListStatus_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionTypeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndDate_Episode_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EpisodeNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EthnicCategory_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:pattern value="[ABCDEFGHJKLMNPRSZ]"/>
			<xs:pattern value="[ABCDEFGHJKLMNPRSZ]."/>
			<xs:pattern value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EthnicCategory2021_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponsibleCareProfessionalIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataAbsentReason_FHIRR4_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SocPerSNOMED_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="4000"/>
			<xs:minLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SocPerTimestamp_Type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="CodedClinicalEntrySequenceNumber_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FitNoteAssessmentDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FitNoteCondition_SnomedCtExpression_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="6"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FitNoteDiagnosis_ICD_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="4"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FitNoteStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FitNoteEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FitNoteDuration_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FitNoteRecordedDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FitNoteFollowUpIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FitNoteIssuer_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppointmentBookedReason_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LatestClinicallyAppropriateDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ConsultationType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientOnPatientInitiatedOutpatientFollowUpPathwayIndicatorAtCDSActivityDate_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientSubjectToRemoteMonitoringIndicatorAtCDSActivityDate_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonalisedOutpatientFollowUpPathwayReviewDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonalisedOutpatientFollowUpPathwayExpiryDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate_CommissionerAssignmentPeriod_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndDate_CommissionerAssignmentPeriod_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ServiceCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObservationValue_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UCUM_Unit_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonScore_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferredByFirstContactPractitionerIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceRequestIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastPatientCancelledDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FirstAntenatalAssessmentDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FirstAttendanceCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstRegularDayOrNightAdmissionCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeneralMedicalPractitioner_AntenatalCare_Type">
		<xs:restriction base="ns:GMP_Code_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GeneralMedicalPractitioner_Specified_Type">
		<xs:restriction base="ns:GMP_Code_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GeneralPractice_PatientRegistration_Type">
		<xs:restriction base="ns:PracticeCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GeneralMedicalPractitionerPractice_AntenatalCare_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="6"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GastroIntestinalSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GestationLength_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GestationLengthLabourOnset_Type">
		<xs:restriction base="ns:GestationLength_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GestationLengthAssessment_Type">
		<xs:restriction base="ns:GestationLength_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GuaranteedAdmissionDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="HighCostDrugs_OPCS_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HospitalProviderSpellNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedClinicalCareIntensityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="81"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedManagementCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedProcedureStatusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedSiteCode_OfTreatment_Type">
		<xs:restriction base="ns:OrganisationSiteCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="InvestigationSchemeInUse_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LabourOrDeliveryOnsetMethodCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastDNAOrPatientCancelledDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="LastEpisodeInSpellIndicatorCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalStatusClassificationCode_Type">
		<xs:restriction base="ns:Number99Positive_Type">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthActLegalStatusClassificationCode_AtCensusDate_Type">
		<xs:restriction base="ns:MentalHealthActLegalStatusClassificationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthActLegalStatusClassificationCode_OnAdmission_Type">
		<xs:restriction base="ns:MentalHealthActLegalStatusClassificationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthActLegalStatusClassificationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LiveOrStillBirthCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LiverSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalPatientIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationClass_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivityLocationType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CareProfessionalMainSpecialtyCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicalStaffTypeSeeingPatient_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthAct2007_MentalCategory_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NeonatalLevelOfCareCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NeurologicalSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumber_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSServiceAgreementChangeDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="NHSServiceAgreementLineNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfBabiesIndicationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfferedForAdmissionDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OperationStatusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationSiteCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="5"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationIdentifier_PatientPathwayIdentifierIssuer_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganSupportMaximum_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OriginalDecidedToAdmitDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OutcomeOfAttendanceCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientClassificationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientPathwayIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonBirthDate_Type">
		<xs:restriction base="ns:DateOfBirth_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonBirthDate_Baby_Type">
		<xs:restriction base="ns:DateOfBirth_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="X"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderCodeCurrent_Type">
		<xs:restriction base="ns:PersonGenderCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderCodeCurrent_Baby_Type">
		<xs:restriction base="ns:PersonGenderCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonMaritalStatus_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonWeight_Type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostcodeOfUsualAddress_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PregnancyTotalPreviousPregnancies_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrimaryDiagnosis_ICD_Type">
		<xs:restriction base="ns:ICD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PrimaryProcedure_OPCS_Type">
		<xs:restriction base="ns:OPCS_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PriorityTypeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProcedureDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ProcedureSchemeInUse_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Procedure_OPCS_Type">
		<xs:restriction base="ns:OPCS_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ProviderReferenceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PsychiatricPatientStatusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferralRequestReceivedDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentPeriod_EndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentPeriod_StartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentPeriod_Status_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RenalSupportDays_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResuscitationMethodCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecondaryDiagnosis_ICD_Type">
		<xs:restriction base="ns:ICD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ServiceTypeRequestedCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SexOfPatientsCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiteCodeOfTreatment_Type">
		<xs:restriction base="ns:OrganisationSiteCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="SourceOfAdmissionCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="88"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceOfReferralForOut_Patients_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
			<xs:enumeration value="97"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate_Episode_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StatusOfPatientIncludedInThePsychiatricCensusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusOfPersonConductingDeliveryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SuspensionStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="SuspensionEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ActivityTreatmentFunctionCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UBRN_Converted_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaitingListEntryLastReviewedDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WardDayPeriodAvailabilityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WardNightPeriodAvailabilityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthOfStayAdjustment_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:maxInclusive value="999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthOfStayAdjustmentReason_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsultationMechanism_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="98"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WardSecurityLevel_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaitingTimeMeasurementType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClinicCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WardCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartTime_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DischargeTime_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WithheldIdentityReason_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="97"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppointmentTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartTime_Episode_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndTime_Episode_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="MultiProfOrDiscIndCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DirectAccessReferralIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PresentOnAdmissionIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargedToHospitalAtHomeServiceIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmbulanceIncidentNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationCodeConveyingAmbulanceTrust_Type">
		<xs:restriction base="ns:OrgCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ExpectedDurationOfAppointment_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarliestClinicallyAppropriateDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorStatusClassificationAtCDSActivityDate_Type">
		<xs:restriction base="ns:OverseasVisitorClassification_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorClassification_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorStatusStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorStatusEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="sequenceNumber_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:minExclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProfessionalRegistrationIssuerCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProfessionalRegistrationEntryIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalSubSpecialtyCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RehabilitationAssessmentTeamType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganSystemSupport_type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLevel_type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryTimestamp_Type">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="CareContactIdentifierAmbulanceService_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
