inst/extdata/xsd/CDS_180_AdmittedPatientCare_Unfinished_BirthEpisode-V6-3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6-3-1">
	<xs:include schemaLocation="CDS-XML_Standard_Data_Structures-V6-3-1.xsd"/>
	<xs:complexType name="AdmittedPatientCare_Unfinished_BirthEpisode_Structure">
		<xs:sequence>
			<xs:element name="PatientPathway" type="ns:PatientPathway_Structure" minOccurs="0"/>
			<xs:element name="PersonGroupPatient_Birth" type="ns:PersonGroupPatient_Birth_Structure"/>
			<xs:element name="HospitalProviderSpell" type="ns:HospitalProviderSpell_Birth_Structure"/>
			<xs:element name="BirthEpisode_ActivityCharacteristics" type="ns:BirthEpisode_ActivityCharacteristics_Structure"/>
			<xs:element name="CriticalCarePeriod" type="ns:CriticalCarePeriod_Structure" minOccurs="0"/>
			<xs:element name="GPRegistration" type="ns:GPRegistration_Structure" minOccurs="0"/>
			<xs:element name="Referrer" type="ns:Referrer_Structure" minOccurs="0"/>
			<xs:element name="Pregnancy" type="ns:Pregnancy_Structure" minOccurs="0"/>
			<xs:element name="AntenatalCare" type="ns:AntenatalCare_Structure" minOccurs="0"/>
			<xs:element name="LabourDelivery" type="ns:LabourDelivery_Structure" minOccurs="0"/>
			<xs:element name="DeliveryOccurrence" type="ns:DeliveryOccurrence_Structure" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
