inst/extdata/xsd/CDS_140_AdmittedPatientCare_Finished_DeliveryEpisode-V6-3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" targetNamespace="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6-3-1">
	<xs:include schemaLocation="CDS-XML_Standard_Data_Structures-V6-3-1.xsd"/>
	<xs:complexType name="AdmittedPatientCare_Finished_DeliveryEpisode_Structure">
		<xs:sequence>
			<xs:element name="PatientPathway" type="ns:PatientPathway_Structure" minOccurs="0"/>
			<xs:element name="PersonGroupPatient_Delivery" type="ns:PersonGroupPatient_Delivery_Structure"/>
			<xs:element name="HospitalProviderSpell" type="ns:HospitalProviderSpell_GeneralEpisode_Structure"/>
			<xs:element name="FinishedDeliveryEpisode" type="ns:FinishedDeliveryEpisode_Structure"/>
			<xs:element name="CriticalCarePeriod" type="ns:AdultOrPaediatricCriticalCarePeriod_Structure" minOccurs="0"/>
			<xs:element name="GPRegistration" type="ns:GPRegistration_Structure" minOccurs="0"/>
			<xs:element name="Referrer" type="ns:Referrer_Structure" minOccurs="0"/>
			<xs:element name="Pregnancy" type="ns:Pregnancy_Structure" minOccurs="0"/>
			<xs:element name="AntenatalCare" type="ns:AntenatalCare_Structure" minOccurs="0"/>
			<xs:element name="LabourDelivery" type="ns:LabourDelivery_Structure" minOccurs="0"/>
			<xs:element name="BirthOccurrence" type="ns:BirthOccurrence_Structure" minOccurs="0" maxOccurs="9"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
