inst/extdata/xsd/CDS_160_AdmittedPatientCare_OtherDelivery-V6-3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" targetNamespace="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6-3-1">
	<xs:include schemaLocation="CDS-XML_Standard_Data_Structures-V6-3-1.xsd"/>
	<xs:complexType name="AdmittedPatientCare_OtherDelivery_Structure">
		<xs:sequence>
			<xs:element name="PatientPathway" type="ns:PatientPathway_Structure" minOccurs="0"/>
			<xs:element name="PersonGroupPatient_Delivery" type="ns:PersonGroupPatient_OtherDelivery_Structure"/>
			<xs:element name="BirthEpisode" type="ns:BirthEpisode_Structure" minOccurs="0"/>
			<xs:element name="GPRegistration" type="ns:GPRegistration_Structure" minOccurs="0"/>
			<xs:element name="Pregnancy" type="ns:Pregnancy_Structure" minOccurs="0"/>
			<xs:element name="AntenatalCare" type="ns:AntenatalCare_Structure" minOccurs="0"/>
			<xs:element name="OtherLabourDelivery" type="ns:OtherLabourDelivery_Structure"/>
			<xs:element name="BirthOccurrence" type="ns:BirthOccurrence_Structure" minOccurs="0" maxOccurs="9"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
