inst/extdata/xsd/CDS_000_Message_Headers_And_Trailers-V6-3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" targetNamespace="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CDS-XML_Standard_Data_Structures-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_020_Outpatient-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_120_AdmittedPatientCare_Finished_BirthEpisode-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_130_AdmittedPatientCare_Finished_GeneralEpisode-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_140_AdmittedPatientCare_Finished_DeliveryEpisode-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_150_AdmittedPatientCare_OtherBirthEvent-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_160_AdmittedPatientCare_OtherDelivery-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_180_AdmittedPatientCare_Unfinished_BirthEpisode-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_190_AdmittedPatientCare_Unfinished_GeneralEpisode-V6-3-1.xsd"/>
	<xs:include schemaLocation="CDS_200_AdmittedPatientCare_Unfinished_DeliveryEpisode-V6-3-1.xsd"/>
	<xs:complexType name="CDSInterchange_Structure" mixed="false">
		<xs:annotation>
			<xs:documentation>CDS Interchange Entry Point For ALL Protocols (Bulk and Net)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSInterchangeHeader" type="ns:CDSInterchangeHeader_Structure"/>
			<xs:choice>
				<xs:element name="CDSNetChange-All-MessageTypes" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>ALL CDS Types Any combination or sequenced</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CDSMessageHeader" type="ns:CDSMessageHeader_Structure"/>
							<xs:element name="CDSTransactionHeader_NetChange" type="ns:CDSTransactionHeader_NetChange_Structure"/>
							<xs:choice>
								<xs:element name="Outpatient" type="ns:Outpatient_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 020</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Finished_BirthEpisode" type="ns:AdmittedPatientCare_Finished_BirthEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 120</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Finished_GeneralEpisode" type="ns:AdmittedPatientCare_Finished_GeneralEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 130</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Finished_DeliveryEpisode" type="ns:AdmittedPatientCare_Finished_DeliveryEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 140</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_OtherBirthEvent" type="ns:AdmittedPatientCare_OtherBirthEvent_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 150</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_OtherDelivery" type="ns:AdmittedPatientCare_OtherDelivery_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 160</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Unfinished_BirthEpisode" type="ns:AdmittedPatientCare_Unfinished_BirthEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 180</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Unfinished_GeneralEpisode" type="ns:AdmittedPatientCare_Unfinished_GeneralEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 190</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Unfinished_DeliveryEpisode" type="ns:AdmittedPatientCare_Unfinished_DeliveryEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 200</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="DeleteTransaction">
									<xs:complexType/>
								</xs:element>
							</xs:choice>
							<xs:element name="CDSMessageTrailer" type="ns:CDSMessageTrailer_Structure"/>
						</xs:sequence>
						<xs:attribute name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type" use="required" fixed="010">
							<xs:annotation>
								<xs:documentation>Enforce CDS Protocols 010 = NET</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type" use="prohibited">
							<xs:annotation>
								<xs:documentation>Bulk Replacement Group Not Required</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CDSTypeCode" type="ns:CDSTypeCode_Type" use="required">
							<xs:annotation>
								<xs:documentation>All valid CDS Types</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="CDSBulkGroup-010-Message" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Finished Birth, General, and Delivery CDS Types 120, 130, 140</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CDSMessageHeader" type="ns:CDSMessageHeader_Structure"/>
							<xs:element name="CDSTransactionHeader_BulkUpdate" type="ns:CDSTransactionHeader_BulkUpdate_Structure"/>
							<xs:choice>
								<xs:element name="AdmittedPatientCare_Finished_BirthEpisode" type="ns:AdmittedPatientCare_Finished_BirthEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 0120 - Finished Birth Episode</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Finished_GeneralEpisode" type="ns:AdmittedPatientCare_Finished_GeneralEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 130 - Finished General Episode</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Finished_DeliveryEpisode" type="ns:AdmittedPatientCare_Finished_DeliveryEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 140 - Finished Delivery Episode</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
							<xs:element name="CDSMessageTrailer" type="ns:CDSMessageTrailer_Structure"/>
						</xs:sequence>
						<xs:attribute name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type" use="required" fixed="020">
							<xs:annotation>
								<xs:documentation>Enforce CDS Protocols 020 = Bulk</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type" use="required" fixed="010">
							<xs:annotation>
								<xs:documentation>Must be present and as per the NHS Data Dictionary Code List</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CDSTypeCode" type="ns:CDSTypes-Finished_Type" use="required">
							<xs:annotation>
								<xs:documentation>CDS Types 120, 130, 140 only</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="CDSBulkGroup-020-Message" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Unfinished Birth, General, and Delivery CDS Types 180, 190, 200</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CDSMessageHeader" type="ns:CDSMessageHeader_Structure"/>
							<xs:element name="CDSTransactionHeader_BulkUpdate" type="ns:CDSTransactionHeader_BulkUpdate_Structure"/>
							<xs:choice>
								<xs:element name="AdmittedPatientCare_Unfinished_BirthEpisode" type="ns:AdmittedPatientCare_Unfinished_BirthEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 180 - Unfinished Birth Episode</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Unfinished_GeneralEpisode" type="ns:AdmittedPatientCare_Unfinished_GeneralEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 190 - Unfinished General Epsiode</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="AdmittedPatientCare_Unfinished_DeliveryEpisode" type="ns:AdmittedPatientCare_Unfinished_DeliveryEpisode_Structure">
									<xs:annotation>
										<xs:documentation>CDS TYPE 200 - Unfinished Delivery Episode</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
							<xs:element name="CDSMessageTrailer" type="ns:CDSMessageTrailer_Structure"/>
						</xs:sequence>
						<xs:attribute name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type" use="required" fixed="020">
							<xs:annotation>
								<xs:documentation>Enforce CDS Protocols</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type" use="required" fixed="020"/>
						<xs:attribute name="CDSTypeCode" type="ns:CDSTypes-UnFinished_Type" use="required">
							<xs:annotation>
								<xs:documentation>CDS Types 180, 190, 200 only</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="CDSBulkGroup-030-Message" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Other Delivery - CDS Type 160</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CDSMessageHeader" type="ns:CDSMessageHeader_Structure"/>
							<xs:element name="CDSTransactionHeader_BulkUpdate" type="ns:CDSTransactionHeader_BulkUpdate_Structure"/>
							<xs:element name="AdmittedPatientCare_OtherDelivery" type="ns:AdmittedPatientCare_OtherDelivery_Structure">
								<xs:annotation>
									<xs:documentation>CDS TYPE 160</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CDSMessageTrailer" type="ns:CDSMessageTrailer_Structure"/>
						</xs:sequence>
						<xs:attribute name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type" use="required" fixed="020">
							<xs:annotation>
								<xs:documentation>Enforce CDS Protocols</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type" use="required" fixed="030"/>
						<xs:attribute name="CDSTypeCode" type="ns:CDSTypeCode_Type" use="required" fixed="160">
							<xs:annotation>
								<xs:documentation>CDS Type 160 only</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="CDSBulkGroup-040-Message" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Other Birth - CDS Type 150 </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CDSMessageHeader" type="ns:CDSMessageHeader_Structure"/>
							<xs:element name="CDSTransactionHeader_BulkUpdate" type="ns:CDSTransactionHeader_BulkUpdate_Structure"/>
							<xs:element name="AdmittedPatientCare_OtherBirthEvent" type="ns:AdmittedPatientCare_OtherBirthEvent_Structure">
								<xs:annotation>
									<xs:documentation>CDS TYPE 150</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CDSMessageTrailer" type="ns:CDSMessageTrailer_Structure"/>
						</xs:sequence>
						<xs:attribute name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type" use="required" fixed="020"/>
						<xs:attribute name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type" use="required" fixed="040"/>
						<xs:attribute name="CDSTypeCode" type="ns:CDSTypeCode_Type" use="required" fixed="150"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CDSBulkGroup-060-Message" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Care ACtivity  - CDS Type 020 Includes Out Patients Renamed in V6-0</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CDSMessageHeader" type="ns:CDSMessageHeader_Structure"/>
							<xs:element name="CDSTransactionHeader_BulkUpdate" type="ns:CDSTransactionHeader_BulkUpdate_Structure"/>
							<xs:element name="Outpatient" type="ns:Outpatient_Structure">
								<xs:annotation>
									<xs:documentation>CDS TYPE 020</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CDSMessageTrailer" type="ns:CDSMessageTrailer_Structure"/>
						</xs:sequence>
						<xs:attribute name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type" use="required" fixed="020"/>
						<xs:attribute name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type" use="required" fixed="060"/>
						<xs:attribute name="CDSTypeCode" type="ns:CDSTypeCode_Type" use="required" fixed="020">
							<xs:annotation>
								<xs:documentation>CDS Type 020 only</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="CDSInterchangeTrailer" type="ns:CDSInterchangeTrailer_Structure"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSInterchangeHeader_Structure">
		<xs:annotation>
			<xs:documentation>CDS Interchange Header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSInterchangeSenderIdentity" type="ns:CDSInterchangeSenderIdentity_Type"/>
			<xs:element name="CDSInterchangeReceiverIdentity" type="ns:CDSInterchangeReceiverIdentity_Type"/>
			<xs:element name="CDSInterchangeControlReference" type="ns:CDSInterchangeControlReference_Type"/>
			<xs:element name="CDSInterchangeDateOfPreparation" type="ns:CDSInterchangeDateOfPreparation_Type"/>
			<xs:element name="CDSInterchangeTimeOfPreparation" type="ns:CDSInterchangeTimeOfPreparation_Type"/>
			<xs:element name="CDSInterchangeApplicationReference" type="ns:CDSInterchangeApplicationReference_Type"/>
			<xs:element name="CDSInterchangeTestIndicator" type="ns:CDSInterchangeTestIndicator_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It is recommended that test CDS should be  only be sent using separate Interchanges using this facility.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSInterchangeTrailer_Structure">
		<xs:annotation>
			<xs:documentation>CDS Interchange Trailer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSInterchangeControlReference" type="ns:CDSInterchangeControlReference_Type"/>
			<xs:element name="CDSInterchangeControlCount" type="ns:CDSInterchangeControlCount_Type"/>
			<xs:element name="CDSInterchangeSenderIdentity" type="ns:CDSInterchangeSenderIdentity_Type" minOccurs="0"/>
			<xs:element name="CDSInterchangeReceiverIdentity" type="ns:CDSInterchangeReceiverIdentity_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSMessageHeader_Structure">
		<xs:annotation>
			<xs:documentation>CDS Message Header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSMessageType" type="ns:CDSMessageType_Type"/>
			<xs:element name="CDSMessageVersionNumber" type="ns:CDSMessageVersionNumber_Type"/>
			<xs:element name="CDSMessageReferenceNumber" type="ns:CDSMessageReferenceNumber_Type"/>
			<xs:element name="CDSMessageRecordIdentifier" type="ns:CDSMessageRecordIdentifier_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSMessageTrailer_Structure">
		<xs:annotation>
			<xs:documentation>CDS Message Trailer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSMessageReferenceNumber" type="ns:CDSMessageReferenceNumber_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSTransactionHeader_NetChange_Structure">
		<xs:annotation>
			<xs:documentation>NET CHANGE CDS Transaction Header Group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSTypeCode" type="ns:CDSTypeCode_Type"/>
			<xs:element name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type"/>
			<xs:element name="CDSUniqueIdentifier" type="ns:CDSUniqueIdentifier_Type"/>
			<xs:element name="CDSUpdateType" type="ns:CDSUpdateType_Type"/>
			<xs:element name="CDSApplicableDate" type="ns:CDSApplicableDate_Type"/>
			<xs:element name="CDSApplicableTime" type="ns:CDSApplicableTime_Type"/>
			<xs:element name="CDSActivityDate" type="ns:CDSActivityDate_Type">
				<xs:annotation>
					<xs:documentation>Added in V6 For CDS Type 170 and the EAL "Census" CDS Types this data element carries the CDS CENSUS DATE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganisationIdentifier_CDSSender" type="ns:CDSSenderCode_Type"/>
			<xs:element name="OrganisationIdentifier_CDSRecipient" type="ns:CDSCopyRecipientCode_Type" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDSTransactionHeader_BulkUpdate_Structure">
		<xs:annotation>
			<xs:documentation>BULK UPDATE CDS Transaction Header Group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CDSTypeCode" type="ns:CDSTypeCode_Type"/>
			<xs:element name="CDSProtocolIdentifierCode" type="ns:CDSProtocolIdentifierCode_Type"/>
			<xs:element name="CDSUniqueIdentifier" type="ns:CDSUniqueIdentifier_Type" minOccurs="0"/>
			<xs:element name="CDSBulkReplacementGroupCode" type="ns:CDSBulkReplacementGroupCode_Type"/>
			<xs:element name="CDSExtractDate" type="ns:CDSExtractDate_Type"/>
			<xs:element name="CDSExtractTime" type="ns:CDSExtractTime_Type"/>
			<xs:element name="CDSReportPeriodStartDate" type="ns:CDSReportPeriodStartDate_Type"/>
			<xs:element name="CDSReportPeriodEndDate" type="ns:CDSReportPeriodEndDate_Type"/>
			<xs:element name="CDSActivityDate" type="ns:CDSActivityDate_Type">
				<xs:annotation>
					<xs:documentation>Added in V6 For CDS Type 170 and the EAL "Census" CDS Types this data element carries the CDS CENSUS DATE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganisationIdentifier_CDSSender" type="ns:CDSSenderCode_Type"/>
			<xs:element name="OrganisationIdentifier_CDSRecipient" type="ns:CDSCopyRecipientCode_Type" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
